:root {
    --background-color: #1f2937;
    --secondary-background: #3882f6;
    --quote-background: #e5e7eb;
    --primary-text: #f9faf8;
    --secondary-text: #e5e7eb;
    --alternative-text: #1f2937;
    --second-alt-text: #666;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

html {
    font-family: 'Roboto', sans-serif;
}

header {
    position: fixed;
    background-color: var(--background-color);
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 20px;
}

header ul {
    display: flex;
    gap: 20px;
}

header ul li {
    list-style: none;
    font-size: 18px;
    color: var(--secondary-text);
}

header h1 {
    font-size: 24px;
    color: var(--primary-text);
}

main {
    padding-top: 65px;
}

section {
    padding: 30px;
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    gap: 20px;
    background-color: var(--background-color);
}

.hero-container {
    flex-basis: 400px;
}

.hero-container h2 {
    font-size: 48px;
    font-weight: 800;
    color: var(--primary-text);
}

.hero-container p {
    font-size: 18px;
    color: var(--secondary-text);
    margin-bottom: 10px;
}

.hero img {
    object-fit: cover;
    height: 250px;
    border-radius: 50%;
}

button {
    background-color: var(--secondary-background);
    color: var(--primary-text);
    padding: 8px 30px;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid var(--alternative-text);
    font-weight: bold;
    cursor: pointer;
}

.info {
    text-align: center;
}

.info h2 {
    color: var(--alternative-text);
    margin-bottom: 25px;
    font-size: 36px;
    font-weight: 900;
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 150px;
}

.card p {
    flex: 1 0 150px;
    width: 150px;
    color: var(--second-alt-text);
}

.icon {
    border: 2px solid var(--secondary-background);
    color: var(--secondary-background);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    width: 150px;
    flex: 1 0 150px;
    border-radius: 10px;
}

.quote {
    background-color: var(--quote-background);
    font-size: 36px;
    color: var(--alternative-text);
    padding: 10% 25%;
}

.quotation {
    font-weight: 100;
    font-style: italic;
}

.author::before {
    content: "- ";
}

.author {
    text-align: right;
    font-size: 26px;
}

.action {
    padding: 10% 20%;
}

.action-container {
    background-color: var(--secondary-background);
    color: var(--secondary-text);
    padding: 20px 50px;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    flex-wrap: wrap;
    gap: 10px;
}

.action-container button {
    border: 2px solid var(--primary-text);
    flex-grow: 0;
}

footer {
    background-color: var(--background-color);
    color: var(--primary-text);
    text-align: center;
    padding: 40px;
}